body{
  background-image: url("C:/Users/TECH-W74/Desktop/BJproject/images/casinoTable.jpg");
  background-repeat: no-repeat center center fixed;
  background-image: cover;
  color: white !important;
}

.cardContainer{
  border-style: groove;
  border-color: white;
  border-radius: 10%;
  width: 120px !important;
  height: 150px;
}

.gameContainer{
  height: 800px;
  width: 1200px;
}

.betButtons{
  color: white;
  background-color: #222222;
}

#betLabel{
  width: 100px;
  height: 44px;
}
